<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>喵喵背单词</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Neko🐱Words</h1>
            <div class="file-upload">
                <input type="file" id="wordFiles" accept=".csv" multiple>
                <button id="loadFiles">加载单词文件</button>
            </div>
            <div id="modeSelection" class="mode-selection">
                <input type="radio" id="inputMode" name="mode" value="input" checked>
                <label for="inputMode">输入模式</label>
                <input type="radio" id="flashcardMode" name="mode" value="flashcard">
                <label for="flashcardMode">记忆卡模式</label>
            </div>
        </div>

        <div class="stats">
            <div class="stat-item">
                <div class="right-item">
                    <span>正确：</span>
                    <span id="correct-count">0</span>
                </div>
            </div>
            <div class="stat-item">
                <div class="error-item">
                    <span>错误：</span>
                    <span id="wrong-count">0</span>
                </div>
            </div>
        </div>

        <div class="question-container" style="display: none;">
            <div id="question-type" class="question-type"></div>
            <div id="question" class="question"></div>
            <div class="input-container">
                <input type="text" id="answer" autocomplete="off">
            </div>
            <div id="history" class="history"></div>
        </div>

        <div class="flashcard-container" style="display: none;">
            <div id="flashcard" class="question"></div>
            <div id="flashcard-answer" class="history-item correct">
                <div class="history-answer">预设答案</div>
            </div>
            <div id="difficultyButtons" class="difficulty-buttons">
                <button class="difficulty-btn again">重来</button>
                <button class="difficulty-btn hard">困难</button>
                <button class="difficulty-btn good">良好</button>
                <button class="difficulty-btn easy">简单</button>
            </div>
        </div>

        <div class="export-container" style="display: none;">
            <button id="exportWrongAnswers">导出错题</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>